* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: var(--text-color);
    transition: all .3s;
}

*::selection {
    background-color: rgba(51, 204, 255, .4);
}

body, html {
    min-height: 100vh;
    background-color: var(--darker-color);
}

body.dark_theme {
    --main-color: #1C4F65;
    --darker-color: #113240;
    --text-color: #FFFFFF;
    --channel-color: rgba(255,255,255,.2);
    --channel-color-hover: rgba(255,255,255,.3);
    --logo: url('img/dark_theme_logo.svg');
    --sun-icon: url('img/dark_theme_sun.svg');
    --moon-icon: url('img/dark_theme_moon.svg');
    --discord-icon: url('img/dark_theme_discord.svg');
}

body.light_theme {
    --main-color: #E4E4E4;
    --darker-color: #E4F7FF;
    --text-color: #2A2A2A;
    --channel-color: rgba(0,0,0,.1);
    --channel-color-hover: rgba(0,0,0,.2);
    --logo: url('img/light_theme_logo.svg');
    --sun-icon: url('img/light_theme_sun.svg');
    --moon-icon: url('img/light_theme_moon.svg');
    --discord-icon: url('img/light_theme_discord.svg');
}

a:hover {
    color: orange;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--main-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 5px;
}

/* ///////////////////////////////////////*/
                /* Header */
/* ///////////////////////////////////////*/

.topbar {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background-color: var(--darker-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-image: var(--logo);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 176px;
    height: 45px;
}

.navbar {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appearence {
    width: auto;
    height: 50px;
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sun {
    background-image: var(--sun-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.line {
    width: 1px;
    height: 40px;
    margin: 0 10px;
    background-color: var(--text-color);
}

.moon {
    background-image: var(--moon-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 98%;
    height: 40px;
    width: 33px;
    cursor: pointer;
}

.discord {
    background-image: var(--discord-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 44px;
    height: 35px;
    margin-left: 30px;
}

/* ///////////////////////////////////////*/
                /* Main */
/* ///////////////////////////////////////*/               

.main {
    width: 100%;
    height: calc(100% - 60px);
    background-color: var(--main-color);
}

/* Intro */

article {
    padding: 20px;
    max-width: 1255px;
    margin: auto;
}

article h2 {
    margin: 0 0 10px 0;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 28px;
}

article p {
    margin: 0 0 5px 0;
    text-align: justify;
    line-height: 24px;
    font-size: 18px;
}

/* Languages */

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    overflow: visible;
}

.items1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.item.web {
    width: 50%;
    flex-grow: 0;
    height: fit-content;
}

.item {
    padding: 20px 30px 30px 30px;
    border-radius: 20px;
    background-color: var(--darker-color);
    display: block;
    margin: 0 20px;
    position: sticky;
    box-shadow: 0 0 30px -10px #000;
}

.item .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 15px;
}

.item .title img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
    background-color: var(--darker-color);
    border: 3px solid var(--text-color);
}

.webimg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item .title h4 {
    font-size: 20px;
    font-weight: 600;
}

.example_title {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}

.example_content {
    padding-left: 20px;
    margin: 10px 0;
}

.item.web .title h4 {
    flex-shrink: 0;
}

.example_content li {
    line-height: 20px;
    font-weight: 300;
}

    /* Sticky */

.languages h2 {
    position: sticky;
    top: 10px;
}

.discord_js {
    top: 70px;
    margin-bottom: 362px;
    border-left: 5px solid #5165F6;
}

.web {
    top: 200px;
    margin-top: 70vh;
    margin-bottom: 200px;
    border-left: 5px solid #EA4D40;
}

.java {
    top: 365px;
    margin-top: 100vh;
    margin-bottom: 100px;
    border-left: 5px solid #6CC349;
}

/* Join */

.join h2 {
    padding-left: 0!important;
}

.join_button {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    text-decoration: none!important;
    margin: 20px 0;
    max-width: 100%;
    width: 278px;
}
.join_button img {
    max-width: 100px;
    width: 70px;
    display: block;
    flex-shrink: 0;
}

.join_button span {
    font-size: 24px;
    font-weight: 600;
    margin: 0 10px 0 0;
    display: block;
}

.join_button em {
    color: #738ADB;
}

.join_button:hover {
    border-color: #738ADB;
}

.channel {
    background-color: var(--channel-color);
    padding: 0 2px;
    border-radius: 2px;
}

.channel:hover {
    background-color: var(--channel-color-hover);
    color: var(--text-color);
}


/* ///////////////////////////////////////*/
            /* Footer */
/* ///////////////////////////////////////*/

.footer {
    width: 100%;
    min-height: 60px;
    padding: 20px;
}

.footer .appearence {
    width: 200px;
    margin: auto;
}

/* ///////////////////////////////////////*/
            /* Responsive */
/* ///////////////////////////////////////*/

@media only screen and (max-width:900px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
    }
    .item.web {
        position: static;
        width: calc(100% - 40px);
        margin: 0 20px;
        top: 200px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .items1 {
        width: 100%;
    }
    .languages h2 {
        position: static;
    }
    .discord_js {
        position: static;
        top: 70px;
        margin-bottom: 20px;
    }
    .java {
        position: static;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .footer {
        min-height: auto;
    }
}

@media only screen and (max-width:440px) {
    .item.web .title h4 {
        flex-shrink: 1;
        flex-grow: 2;
    }
}

@media only screen and (max-width:400px) {
    .discord {
        margin-left: 15px;
    }
}

@media only screen and (min-width:1080px) {
    .topbar {
        padding: 0 2.5%;
    }
    article h2 {
        padding: 0 10%;
    }
    .profil p {
        padding: 0 10%;
    }
    .container {
        padding: 0 8%;
    }
    .join {
        padding: 20px 10%;
    }
    .footer {
        padding: 20px 10%;
    }
}

@media only screen and (min-width:1300px) {
    .container {
        padding: 0 15%;
    }
}

/* ///////////////////////////////////////*/
           /* appearence theme */
/* ///////////////////////////////////////*/

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #1C4F65;
        --darker-color: #113240;
        --text-color: #FFFFFF;
        --channel-color: rgba(255,255,255,.2);
        --channel-color-hover: rgba(255,255,255,.3);
        --logo: url('img/dark_theme_logo.svg');
        --sun-icon: url('img/dark_theme_sun.svg');
        --moon-icon: url('img/dark_theme_moon.svg');
        --discord-icon: url('img/dark_theme_discord.svg');
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --main-color: #E4E4E4;
        --darker-color: #E4F7FF;
        --text-color: #2A2A2A;
        --channel-color: rgba(0,0,0,.1);
        --channel-color-hover: rgba(0,0,0,.2);
        --logo: url('img/light_theme_logo.svg');
        --sun-icon: url('img/light_theme_sun.svg');
        --moon-icon: url('img/light_theme_moon.svg');
        --discord-icon: url('img/light_theme_discord.svg');
    }
}
